*{
     margin: 0; 
     padding: 0; 
 } 
.header{
    background: rgb(8, 63, 216);
     height: 15vh; 
    width: 100%;
    /* padding-right: 10vh; */
     box-shadow: 2px 2px 2px 2px darkgrey ; 
    display: flex;
    /* position: fixed; */
    /* padding: 15px 10px 15px 50px; */
}
.navbar-right{
    width: 95%;
    height: 70px;
    overflow: hidden;
    /* display: inline-block; */
    /* flex-direction: column; */
    float: right;
    margin-left: 750px;
    padding: 20px;
}

.header a{
    
    width: 99%;
    padding: 10px;
    font-size:19px;
    color: white;
    
    /* height: 100%; */
}

.header img{
    width: 5%;
    height: 15vh;
    margin: 0vh 5vh 0vh 5vh;
}
.navbar-right a:hover{
    background: white;
    color: orange;
}
.navbar-right a{
    text-decoration: none;
    
}