.home-container{
    background-color: rgba(0, 0, 255, 0.596);
    height: 130vh;
    width: 100%;
    /* padding: 15px 50px 15px 50px; */
    box-shadow: 2px 2px 2px 2px grey;
    background-image: url(../assets/use.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed;  */
}
.n{
    /* height: 95vh; */
}
.home-container h1{
    font-size: 10vh;
    margin: 10vh 10px 10px 40vh;
    color: rgb(92, 115, 247);
}
.home-container h1:hover{
    color: white;
}
.quote{
    background: rgba(82, 76, 30, 0.26);
    width:40%;
    height: 50vh;
    margin: 15vh 0px 0px 60vh;
    border-radius: 5vh;
}
.quote button{
    background: darkgray;
    height: 5vh;
    width: 30vh;
    border-radius: 5vh ;
    box-shadow: 2px 2px 2px 2px rgba(255, 166, 0, 0.548);
    margin: 6vh 0vh 0vh 30vh;
    font-size: 3vh;
    font-style: oblique;
}
.quote button:hover{
    background: rgba(39, 2, 248, 0.726); 
    color: white;
}
.quote p{
    padding: 0.5vh 8vh 0px 5vh; 
    font-size: 2.5vh;
    color: rgb(248, 244, 244);
    /* margin: 5vh; */
}
.aboutus h1{
    color: rgb(12, 12, 12);
    margin: 10vh 0vh 0vh 80vh ;
}
.aboutus{
    background-color: white;
    width: 100%;
    height:130vh; 
    background-image: none;
    background-size: cover;
     margin: -10vh 0vh 0vh 0vh; 
}
.aboutus h1:hover{
    color:black;

    
}
.aboutdiv{
    height: 58vh;
    width: 80%;
    /* background: rgb(0, 0, 0); */
     margin: 2vh 0vh 0vh 30vh; 
}
.aboutdiv h1{
    font-size: 5vh;
    margin: 5vh 0vh 0vh 5px; 
    text-align: center;

}
.aboutdiv h1:hover{
    color: blue;
}
.aboutdiv p{
    color: rgb(10, 10, 10);
    padding: 2vh 3vh 0vh 5vh;
    font-size: 3vh;
}
.contact{
    /* background-color: white;  */
    width: 100%;
    height:30vh;
    background-image: none;
    background-size: cover;
     /* margin: -130vh 0vh 0vh 0vh;  */
}
.contact h1{
    font-size: 10vh;
    padding: 5vh 3vh 0vh 5vh;

}
.contact h1:hover{
    color: blue;
}
.contact1{
    background: rgba(6, 104, 196, 0.527);
    width: 80%;
    height: 75vh;
    margin: 0vh 0vh 0vh 15vh;
    
}
.icon {
    margin: 65vh 0vh 0vh 80vh;
}
.info{
    margin: -130vh 0vh 0vh 0vh;
}
.info label{
    font-size: 5vh;
    font-weight: bolder;
}
.info input{
    height: 4vh;
    width: 50%;
}
.info textarea{
    width: 50%;
    height: 15vh;
}
.imagecont img{
    width: 40%;
    height:75vh;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.licon{
    margin: 30vh 0vh 0vh 60vh;
    height: 10vh;
}
.log{
    padding: 10vh 0vh 0vh 30vh;
    margin: -20vh 0vh 0vh 10vh;
}
.linfo{
    background: blue;
    height: 15vh;
    width: 50vh;
}
.login{
    height:10vh;
    background: blue;
}